<a href="https://colab.research.google.com/github/JanOmasta/Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This program predicts the price of BRK-B stock for a specific day.
# Import the libraries.
from sklearn.svm import SVR
from datetime import datetime
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
plt.style.use('fivethirtyeight')

In [ ]:
# Load the data.
from google.colab import files
files.upload()

Saving BRK-B.csv to BRK-B (1).csv

{'BRK-B.csv': b'Date,Open,High,Low,Close,Adj Close,Volume\n2020-12-28,228.089996,230.149994,227.360001,228.410004,228.410004,3505500\n2020-12-29,230.500000,231.100006,229.100006,229.570007,229.570007,3799500\n2020-12-30,229.539993,230.589996,229.080002,229.649994,229.649994,3257400\n2020-12-31,229.279999,232.279999,228.889999,231.869995,231.869995,4228100\n2021-01-04,231.729996,231.869995,226.850006,228.449997,228.449997,7404900\n2021-01-05,228.210007,230.100006,226.850006,227.470001,227.470001,5524900\n2021-01-06,229.490005,232.679993,227.550003,230.270004,230.270004,9009400\n2021-01-07,232.779999,233.960007,231.330002,232.880005,232.880005,4691600\n2021-01-08,233.539993,234.600006,231.720001,234.029999,234.029999,4850400\n2021-01-11,231.220001,233.919998,231.020004,233.429993,233.429993,3882000\n2021-01-12,233.309998,233.979996,231.699997,233.029999,233.029999,5616600\n2021-01-13,232.000000,234.949997,231.710007,234.509995,234.509995,3827500\n2021-01-14,234.789993,235.699997,233.839996,235.020004,235.020004,4528700\n2021-01-15,234.100006,234.589996,231.910004,233.490005,233.490005,5225000\n2021-01-19,234.639999,236.240005,231.699997,234.550003,234.550003,5502100\n2021-01-20,234.000000,235.199997,233.240005,234.759995,234.759995,4876200\n2021-01-21,235.220001,236.199997,234.080002,234.160004,234.160004,4317300\n2021-01-22,232.500000,233.830002,232.210007,232.919998,232.919998,4465000\n2021-01-25,231.669998,233.520004,230.449997,233.009995,233.009995,5097700\n2021-01-26,233.000000,233.500000,231.330002,231.570007,231.570007,3944800'}

In [ ]:
# Store the data.
df = pd.read_csv('BRK-B.csv')
# Show the data.
df

          Date        Open        High  ...       Close   Adj Close   Volume
0   2020-12-28  228.089996  230.149994  ...  228.410004  228.410004  3505500
1   2020-12-29  230.500000  231.100006  ...  229.570007  229.570007  3799500
2   2020-12-30  229.539993  230.589996  ...  229.649994  229.649994  3257400
3   2020-12-31  229.279999  232.279999  ...  231.869995  231.869995  4228100
4   2021-01-04  231.729996  231.869995  ...  228.449997  228.449997  7404900
5   2021-01-05  228.210007  230.100006  ...  227.470001  227.470001  5524900
6   2021-01-06  229.490005  232.679993  ...  230.270004  230.270004  9009400
7   2021-01-07  232.779999  233.960007  ...  232.880005  232.880005  4691600
8   2021-01-08  233.539993  234.600006  ...  234.029999  234.029999  4850400
9   2021-01-11  231.220001  233.919998  ...  233.429993  233.429993  3882000
10  2021-01-12  233.309998  233.979996  ...  233.029999  233.029999  5616600
11  2021-01-13  232.000000  234.949997  ...  234.509995  234.509995  3827500
12  2021-01-14  234.789993  235.699997  ...  235.020004  235.020004  4528700
13  2021-01-15  234.100006  234.589996  ...  233.490005  233.490005  5225000
14  2021-01-19  234.639999  236.240005  ...  234.550003  234.550003  5502100
15  2021-01-20  234.000000  235.199997  ...  234.759995  234.759995  4876200
16  2021-01-21  235.220001  236.199997  ...  234.160004  234.160004  4317300
17  2021-01-22  232.500000  233.830002  ...  232.919998  232.919998  4465000
18  2021-01-25  231.669998  233.520004  ...  233.009995  233.009995  5097700
19  2021-01-26  233.000000  233.500000  ...  231.570007  231.570007  3944800

[20 rows x 7 columns]

In [ ]:
# Show and store the last row of data.
actual_price = df.tail(1)
# Show the data.
actual_price

          Date   Open   High         Low       Close   Adj Close   Volume
19  2021-01-26  233.0  233.5  231.330002  231.570007  231.570007  3944800

In [ ]:
# Get all of the data except the last row.
df = df.head(len(df) - 1)
# Show the data set
df

          Date        Open        High  ...       Close   Adj Close   Volume
0   2020-12-28  228.089996  230.149994  ...  228.410004  228.410004  3505500
1   2020-12-29  230.500000  231.100006  ...  229.570007  229.570007  3799500
2   2020-12-30  229.539993  230.589996  ...  229.649994  229.649994  3257400
3   2020-12-31  229.279999  232.279999  ...  231.869995  231.869995  4228100
4   2021-01-04  231.729996  231.869995  ...  228.449997  228.449997  7404900
5   2021-01-05  228.210007  230.100006  ...  227.470001  227.470001  5524900
6   2021-01-06  229.490005  232.679993  ...  230.270004  230.270004  9009400
7   2021-01-07  232.779999  233.960007  ...  232.880005  232.880005  4691600
8   2021-01-08  233.539993  234.600006  ...  234.029999  234.029999  4850400
9   2021-01-11  231.220001  233.919998  ...  233.429993  233.429993  3882000
10  2021-01-12  233.309998  233.979996  ...  233.029999  233.029999  5616600
11  2021-01-13  232.000000  234.949997  ...  234.509995  234.509995  3827500
12  2021-01-14  234.789993  235.699997  ...  235.020004  235.020004  4528700
13  2021-01-15  234.100006  234.589996  ...  233.490005  233.490005  5225000
14  2021-01-19  234.639999  236.240005  ...  234.550003  234.550003  5502100
15  2021-01-20  234.000000  235.199997  ...  234.759995  234.759995  4876200
16  2021-01-21  235.220001  236.199997  ...  234.160004  234.160004  4317300
17  2021-01-22  232.500000  233.830002  ...  232.919998  232.919998  4465000
18  2021-01-25  231.669998  233.520004  ...  233.009995  233.009995  5097700

[19 rows x 7 columns]

In [ ]:
# Create empty lists
days = list()
adj_close_prices = list()

In [ ]:
# Get only the dates and the adjusted close prices.
df_days = df['Date']
df_days

0     2020-12-28
1     2020-12-29
2     2020-12-30
3     2020-12-31
4     2021-01-04
5     2021-01-05
6     2021-01-06
7     2021-01-07
8     2021-01-08
9     2021-01-11
10    2021-01-12
11    2021-01-13
12    2021-01-14
13    2021-01-15
14    2021-01-19
15    2021-01-20
16    2021-01-21
17    2021-01-22
18    2021-01-25
Name: Date, dtype: object

In [ ]:
# Create the independent data set (dates). 
for day in df_days:
    days.append([int(day.split('-')[2])])

In [ ]:
days

[[28],
 [29],
 [30],
 [31],
 [4],
 [5],
 [6],
 [7],
 [8],
 [11],
 [12],
 [13],
 [14],
 [15],
 [19],
 [20],
 [21],
 [22],
 [25]]

In [ ]:
df_adj_close = df['Adj Close']
df_adj_close

0     228.410004
1     229.570007
2     229.649994
3     231.869995
4     228.449997
5     227.470001
6     230.270004
7     232.880005
8     234.029999
9     233.429993
10    233.029999
11    234.509995
12    235.020004
13    233.490005
14    234.550003
15    234.759995
16    234.160004
17    232.919998
18    233.009995
Name: Adj Close, dtype: float64

In [ ]:
# Create the dependent data set (adj close prices).
for adj_close_price in df_adj_close:
    adj_close_prices.append(float(adj_close_price))

In [ ]:
# Show the adj close prices.
adj_close_prices

[228.41000400000001,
 229.57000699999998,
 229.649994,
 231.86999500000002,
 228.44999700000002,
 227.47000099999997,
 230.270004,
 232.88000499999998,
 234.02999900000003,
 233.42999300000002,
 233.02999900000003,
 234.50999500000003,
 235.020004,
 233.49000499999997,
 234.55000299999998,
 234.75999500000003,
 234.16000400000001,
 232.919998,
 233.00999500000003]

In [ ]:
# Create 3 models.
lin_svr = SVR(kernel = 'linear', C = 1000.0)
lin_svr.fit(days, adj_close_prices)

poly_svr = SVR(kernel = 'poly', C = 1000.0, degree = 2)
poly_svr.fit(days, adj_close_prices)

rbf_svr = SVR(kernel = 'rbf', C = 1000.0, gamma = 0.85)
rbf_svr.fit(days, adj_close_prices)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.85,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)