In [99]:
import pandas as pd

In [100]:
# Defining column names and importing values from Table 1 from excel file.
# Table 1 is caled df_Table_1. (df means Dataframe) 

columns_Table_1 = ['Record_ID_Table_1', 'Vendor_Table_1', 'Model_Name_Table_1']
df_Table_1 = pd.read_excel("Table1.xlsx", header = None, names = columns_Table_1)

In [101]:
df_Table_1

     Record_ID_Table_1   Vendor_Table_1              Model_Name_Table_1
0            Record ID           Vendor                      Model Name
1              1057776            Epson                        LQ-590II
2              1353079  TVS Electronics                 PLATINA DP 5000
3              1407441            Epson  Stylus Pro 4900 SpectroProofer
4              1412079            Canon                i-SENSYS MF6680x
...                ...              ...                             ...
3878           2259919            Ricoh                   MP 3350BAD GL
3879           2259920            Ricoh                      MP 3500 GL
3880           2259921            Ricoh                     MP C2550 GL
3881           2259922            Ricoh                   MP 3554 SP GL
3882           2259923            Ricoh                   MP 9003 SP GL

[3883 rows x 3 columns]

In [102]:
# Defining column names and importing values from Table 2 from excel file.
# Table 2 is caled df_Table_2. (df means Dataframe) 

columns_Table_2 = ['Record_ID_Table_2', 'Vendor_Table_2', 'Description_Table_2', 'Model_Name_Table_2']
df_Table_2 = pd.read_excel("Table2.xlsx", header = None, names = columns_Table_2)

In [103]:
df_Table_2

,Record_ID_Table_2,Vendor_Table_2,Description_Table_2,Model_Name_Table_2
0,Record ID,Vendor,Description,Model Name
1,3726917,?ditions clouet,?ditions clouet mini diy desktop 3d printer 1....,mini diy desktop 3d 1.75mm filament high p
2,4324410,a pose,a pose درج نفديه كاشير 9 خانه,a pose درج نفديه كاشير 9 خانه
3,4095432,a pose,a pose درج نفديه كاشير 9 خانه,a pose درج نفديه كاشير 9 خانه
4,3726940,a.pose,a.pose درج نفديه كاشير 9 خانه,a.pose درج نفديه كاشير 9 خانه
...,...,...,...,...
100340,3848655,NaN,ماكينة الطباعة الحرارية متعددة الإستخدامات 8 ف...,8 1 10
100341,4492029,NaN,ماكينة الطباعة الحرارية ونقل الصور والشعارات ع...,ماكينة الطباعة الحرارية ونقل الصور والشعارات ع...
100342,3848656,NaN,ماكينة الطباعة الحرارية ونقل الصور والشعارات ع...,ماكينة الطباعة الحرارية ونقل الصور والشعارات ع...
100343,3848657,NaN,ماكينة طباعة حرارية سبعه في واحد,ماكينة طباعة حرارية سبعه في واحد
100344,4263606,NaN,ماكينة طباعة حرارية سبعه في واحد,ماكينة طباعة حرارية سبعه في واحد

In [105]:
# Eliminating all duplicate values in column Model Name of Table 2. 
# Created table without duplicates is called df_Table_2_nodups. nodups means no duplicates.

df_Table_2_nodups = df_Table_2.drop_duplicates(subset = ['Model_Name_Table_2'])

df_Table_2_nodups.shape

(33651, 4)

In [106]:
# To merge tables, it is needed to compare values in its tables. 
# To do so, it is needed to change lowercase letters to CAPITAL letters of column Model Name of Table 2 using function upper().

df_Table_2_nodups['Model_Name_Table_2'] = df_Table_2_nodups['Model_Name_Table_2'].str.upper()

<ipython-input-106-3c6fcc9e6672>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Table_2_nodups['Model_Name_Table_2'] = df_Table_2_nodups['Model_Name_Table_2'].str.upper()

In [108]:
# Eliminating all duplicate values in column Model Name of Table 1. 
# Created table without duplicates is called df_Table_1_nodups. nodups means no duplicates.

df_Table_1_nodups = df_Table_1.drop_duplicates(subset = ['Model_Name_Table_1'])

df_Table_1_nodups.shape

(3567, 3)

In [109]:
# Merging tables (inner join as from SQL) using columns Model Name from Table 1 and Model Name from Table 2.
# Merged table is called merged_inner.

merged_inner = pd.merge(left = df_Table_1_nodups, 
                        right = df_Table_2_nodups, 
                        left_on = 'Model_Name_Table_1', 
                        right_on = 'Model_Name_Table_2')[['Record_ID_Table_2', 
                                                          'Vendor_Table_2', 
                                                          'Description_Table_2', 
                                                          'Model_Name_Table_2', 
                                                          'Model_Name_Table_1', 
                                                          'Record_ID_Table_1'
                                                         ]]

merged_inner.shape

(305, 6)

In [110]:
merged_inner.head(25)

,Record_ID_Table_2,Vendor_Table_2,Description_Table_2,Model_Name_Table_2,Model_Name_Table_1,Record_ID_Table_1
0,4370429,epson,epson lq-590ii,LQ-590II,LQ-590II,1057776
1,4330593,brother,brother dcp-9022cdw (basic garancia),DCP-9022CDW,DCP-9022CDW,1849683
2,4466162,ricoh,ricoh sp 4520dn,SP 4520DN,SP 4520DN,1982438
3,4332540,brother,brother hl-1222we,HL-1222WE,HL-1222WE,1985059
4,4334743,brother,brother hl1222we laser printer - cee,HL-1222WE,HL-1222WE,1985059
5,4099575,brother,brother dcp-1622we,DCP-1622WE,DCP-1622WE,1985060
6,3837038,ricoh,мфу ricoh mp 3555sp,MP 3555SP,MP 3555SP,2027038
7,4259927,ricoh,мфу ricoh mp 5055sp,MP 5055SP,MP 5055SP,2027043
8,4466367,ricoh,ricoh sp c340dn,SP C340DN,SP C340DN,2035661
9,3762796,epson,epson plq-30m,PLQ-30M,PLQ-30M,2062891
10,4349392,canon,canon maxify mb2155,MAXIFY MB2155,MAXIFY MB2155,2063097
11,4488346,ricoh,мфу ricoh mp 2555asp,MP 2555ASP,MP 2555ASP,2063181
12,4488349,ricoh,мфу ricoh mp 3055asp,MP 3055ASP,MP 3055ASP,2063186
13,4488350,ricoh,мфу ricoh mp 3055sp,MP 3055SP,MP 3055SP,2063187
14,4488352,ricoh,мфу ricoh mp 3555asp,MP 3555ASP,MP 3555ASP,2063188
15,4259922,ricoh,мфу ricoh mp 4055asp,MP 4055ASP,MP 4055ASP,2063266
16,4259925,ricoh,мфу ricoh mp 5055asp,MP 5055ASP,MP 5055ASP,2063270
17,4239535,ricoh,ricoh sp c842dn,SP C842DN,SP C842DN,2063277
18,4121103,canon,canon pixma g4400 (1515c009aa),PIXMA G4400,PIXMA G4400,2063282
19,3817525,ricoh,ricoh mp c307spf,MP C307SPF,MP C307SPF,2064152
20,4488364,ricoh,мфу ricoh mp 6503sp,MP 6503SP,MP 6503SP,2064162
21,4232566,pantum,pantum m7100dn,M7100DN,M7100DN,2066341
22,4458001,pantum,pantum p3300dn,P3300DN,P3300DN,2066344
23,4491333,brother,מדפסת brother mfc-j5930dw,MFC-J5930DW,MFC-J5930DW,2066379
24,4491729,brother,מדפסת משולבת brother mfc-j5930dw,MFC-J5930DW,MFC-J5930DW,2066379

In [111]:
# Deleting empty rows in created merged table where Model Name (from Table 1) is empty.

merged_inner.dropna(subset = ["Model_Name_Table_1"], inplace = True)

merged_inner.head(5)

,Record_ID_Table_2,Vendor_Table_2,Description_Table_2,Model_Name_Table_2,Model_Name_Table_1,Record_ID_Table_1
0,4370429,epson,epson lq-590ii,LQ-590II,LQ-590II,1057776
1,4330593,brother,brother dcp-9022cdw (basic garancia),DCP-9022CDW,DCP-9022CDW,1849683
2,4466162,ricoh,ricoh sp 4520dn,SP 4520DN,SP 4520DN,1982438
3,4332540,brother,brother hl-1222we,HL-1222WE,HL-1222WE,1985059
4,4334743,brother,brother hl1222we laser printer - cee,HL-1222WE,HL-1222WE,1985059

In [112]:
# Renaming all column names acccording to the column names example in Table 3 in excel file.
# The final table with renamed column names is called df_final_table.

df_final_table = merged_inner.rename(columns = {'Record_ID_Table_2': 'Record ID', 
                                                'Vendor_Table_2' : 'Vendor', 
                                                'Description_Table_2' : 'Description', 
                                                'Model_Name_Table_2' : 'Model Name', 
                                                'Model_Name_Table_1' : 'Model Name (from Table #1)', 
                                                'Record_ID_Table_1' : 'Record ID (from Table #1)'
                                               }
                                    )

df_final_table.head(25)

,Record ID,Vendor,Description,Model Name,Model Name (from Table #1),Record ID (from Table #1)
0,4370429,epson,epson lq-590ii,LQ-590II,LQ-590II,1057776
1,4330593,brother,brother dcp-9022cdw (basic garancia),DCP-9022CDW,DCP-9022CDW,1849683
2,4466162,ricoh,ricoh sp 4520dn,SP 4520DN,SP 4520DN,1982438
3,4332540,brother,brother hl-1222we,HL-1222WE,HL-1222WE,1985059
4,4334743,brother,brother hl1222we laser printer - cee,HL-1222WE,HL-1222WE,1985059
5,4099575,brother,brother dcp-1622we,DCP-1622WE,DCP-1622WE,1985060
6,3837038,ricoh,мфу ricoh mp 3555sp,MP 3555SP,MP 3555SP,2027038
7,4259927,ricoh,мфу ricoh mp 5055sp,MP 5055SP,MP 5055SP,2027043
8,4466367,ricoh,ricoh sp c340dn,SP C340DN,SP C340DN,2035661
9,3762796,epson,epson plq-30m,PLQ-30M,PLQ-30M,2062891
10,4349392,canon,canon maxify mb2155,MAXIFY MB2155,MAXIFY MB2155,2063097
11,4488346,ricoh,мфу ricoh mp 2555asp,MP 2555ASP,MP 2555ASP,2063181
12,4488349,ricoh,мфу ricoh mp 3055asp,MP 3055ASP,MP 3055ASP,2063186
13,4488350,ricoh,мфу ricoh mp 3055sp,MP 3055SP,MP 3055SP,2063187
14,4488352,ricoh,мфу ricoh mp 3555asp,MP 3555ASP,MP 3555ASP,2063188
15,4259922,ricoh,мфу ricoh mp 4055asp,MP 4055ASP,MP 4055ASP,2063266
16,4259925,ricoh,мфу ricoh mp 5055asp,MP 5055ASP,MP 5055ASP,2063270
17,4239535,ricoh,ricoh sp c842dn,SP C842DN,SP C842DN,2063277
18,4121103,canon,canon pixma g4400 (1515c009aa),PIXMA G4400,PIXMA G4400,2063282
19,3817525,ricoh,ricoh mp c307spf,MP C307SPF,MP C307SPF,2064152
20,4488364,ricoh,мфу ricoh mp 6503sp,MP 6503SP,MP 6503SP,2064162
21,4232566,pantum,pantum m7100dn,M7100DN,M7100DN,2066341
22,4458001,pantum,pantum p3300dn,P3300DN,P3300DN,2066344
23,4491333,brother,מדפסת brother mfc-j5930dw,MFC-J5930DW,MFC-J5930DW,2066379
24,4491729,brother,מדפסת משולבת brother mfc-j5930dw,MFC-J5930DW,MFC-J5930DW,2066379

In [113]:
# Writing final table into excel file.
# Create a Pandas Excel writer using XlsxWriter as the engine.

from pandas import ExcelWriter

writer = pd.ExcelWriter('DataMatchingCaseStudy8.xlsx', engine='xlsxwriter')

In [114]:
# Writing into excel on sheet called Results.

df_final_table.to_excel(writer, sheet_name = 'Results', startrow = 0, startcol = 0, header = True, index = False)

# Styling of text of final table (font color).

# Get workbook.
workbook = writer.book

# Get Results
worksheet = writer.sheets['Results']

format1 = workbook.add_format()
format2 = workbook.add_format()

format1.set_font_color('#4472C4')
worksheet.set_column('A:A', None, format1)
worksheet.set_column('B:B', None, format1)
worksheet.set_column('C:C', None, format1)
worksheet.set_column('D:D', None, format1)

format2.set_font_color('#ED7D31')
worksheet.set_column('E:E', None, format2)
worksheet.set_column('F:F', None, format2)

writer.save()